#to install all this requirements
#`pip install -r requirements.txt`
numpy>=1.18.5
scipy>=1.4.1
scikit-image>=0.15
opencv-python>=4.1.1
face-alignment
tqdm
opencv-python
pyyaml==5.4.1
kornia
yacs
matplotlib
h5py==3.1.0
chumpy==0.70 